body {
  border: 2px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  border: 2px solid red;
  width: 80%;
  margin: 0 auto;
}
header {
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
header section {
  border: 2px solid red;
}
.contact {
  /* width: 30%;*/
  box-sizing: border-box;
}
.name {
  box-sizing: border-box;
}
.contact ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact li {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact p {
  margin-left: 0.2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
